AddType text/css .css

# Allow POST requests to contactform.php
<Files "contactform.php">
    <Limit GET POST>
        Require all granted
    </Limit>
</Files>

# 307 Temporary Redirect for all traffic
Redirect 307 / https://yohanneshaile.com